* {
	box-sizing: border-box;
}

:root {
	--primary-color: black;
}

.productList {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	width: 75%;
}

.productListElement {
	border: solid 1px black;
	list-style: none;
}

.productInformation {
	display: flex;
	flex-direction: column;
	max-width: 150px;
}

.productImage {
	width: 100px;
	height: 100px;
}

.productName {
	font-weight: bold;
}

.productCategory {
	font-size: medium;
}

.productPrice {
	font-weight: bold;
}

.productDescription {
	white-space: pre-line;
}

.productOverlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.productModal {
	background-color: white;
	padding: 2rem;
	border-radius: 8px;
	min-width: 300px;
}

.productExpanded {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.productNameCategory {
	display: flex;
	flex-direction: column;
}

.cartButtons {
	background-color: gray;
	display: inline-flex;
	gap: 1rem;
	padding: 6px;
	border-radius: 5%;
}

.headerNav {
	display: flex;
	justify-content: space-between;
}

.category-item:hover {
	cursor: pointer;
	border: solid black 1px;
	background-color: aquamarine;
}

.banner-image {
	height: 100px;
}

.scrollBanner {
	background-color: red;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
